In [ ]:
import pandas as pd
file_path = r"Give Your Dataset Path"
df=pd.read_excel(file_path)

In [ ]:
pip install openpyxl

In [3]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,...,Unnamed: 4150,Unnamed: 4151,Unnamed: 4152,Unnamed: 4153,Unnamed: 4154,Unnamed: 4155,Unnamed: 4156,Unnamed: 4157,Unnamed: 4158,Unnamed: 4159
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555_x000D_\n+91 9743772233,Banashankari,Casual Dining,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447_x000D_\n+91 9901210005,Basavanagudi,Casual Dining,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56249 entries, 0 to 56248
Columns: 4160 entries, url to Unnamed: 4159
dtypes: object(4160)
memory usage: 1.7+ GB

In [5]:
df.describe()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,...,Unnamed: 4150,Unnamed: 4151,Unnamed: 4152,Unnamed: 4153,Unnamed: 4154,Unnamed: 4155,Unnamed: 4156,Unnamed: 4157,Unnamed: 4158,Unnamed: 4159
count,56197,56234,56235,56233,56193,48413,56173,54954,56127,55913,...,1,1,1,1,1,1,1,1,1,1
unique,55794,13397,11915,2640,2902,2877,5195,17711,2921,2961,...,1,1,1,1,1,1,1,1,1,1
top,x82ÃƒÆ’Ã‚Æ’\x82ÃƒÆ’Ã‚â€š\x82ÃƒÆ’Ã‚Æ’\x83ÃƒÆ’Ã‚â€š\x83ÃƒÆ’Ã‚Æ’\x82ÃƒÆ’Ã‚...,('Rated 4.0',('Rated 4.0',Yes,No,NEW,0,('Rated 4.0',BTM,Quick Bites,...,('Rated 1.0','RATED\n Particularly here,Service is very poor. Worst mast kalandar fra...,('Rated 4.0','RATED\n Mast Kalandar serves the homely kin...,less oily/ no oil,not spicy. Feels healthy to eat in this place...,[],Dine-out,Koramangala 5th Block
freq,41,942,300,30444,45268,2208,10027,412,5125,19132,...,1,1,1,1,1,1,1,1,1,1

In [6]:
df.isnull().sum()

url                 52
address             15
name                14
online_order        16
book_table          56
                 ...
Unnamed: 4155    56248
Unnamed: 4156    56248
Unnamed: 4157    56248
Unnamed: 4158    56248
Unnamed: 4159    56248
Length: 4160, dtype: int64

In [7]:
threshold=0.95
df_cleaned=df.loc[:,df.isnull().mean()<threshold]

In [10]:
df_cleaned=df_cleaned.loc[:,~df_cleaned.columns.str.startswith('Unnamed')]

In [11]:
print(df_cleaned.columns)
print(df_cleaned.shape)

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')
(56249, 17)

In [12]:
df_cleaned.isnull().sum()

url                               52
address                           15
name                              14
online_order                      16
book_table                        56
rate                            7836
votes                             76
phone                           1295
location                         122
rest_type                        336
dish_liked                     28201
cuisines                         201
approx_cost(for two people)      505
reviews_list                     187
menu_item                       4566
listed_in(type)                 4595
listed_in(city)                 4624
dtype: int64

In [13]:
duplicate_count = df_cleaned.duplicated().sum()
print(f"Duplicate rows: {duplicate_count}")

Duplicate rows: 214

In [14]:
df_cleaned = df_cleaned.drop_duplicates()

In [15]:
print("Shape after cleaning:", df_cleaned.shape)

Shape after cleaning: (56035, 17)

In [16]:
df_cleaned['name'].nunique()

11915

In [17]:
df_cleaned['online_order'].value_counts()
df_cleaned['online_order'].value_counts(normalize=True) * 100

online_order
Yes                                                                                                        54.340027
No                                                                                                         37.970549
 ('Rated 4.0'                                                                                               0.822847
 ('Rated 5.0'                                                                                               0.671129
 ('Rated 3.0'                                                                                               0.326640
                                                                                                             ...
 Gulab Jamoon is worth the taste. The meals are also pretty good                                            0.001785
 corn & cheese bites)                                                                                       0.001785
 'RATED\n  Ordered whole wheat veg hakka noodles for evening indulgence. As tasty as it looked by sight     0.001785
 next to Big Bazaar                                                                                         0.001785
 'RATED\n  Beer cafe                                                                                        0.001785
Name: proportion, Length: 2640, dtype: float64

In [18]:
df_cleaned['book_table'].value_counts()

book_table
No                                                                                                                                                                                                                                                                                               45268
Yes                                                                                                                                                                                                                                                                                               6449
 ('Rated 4.0'                                                                                                                                                                                                                                                                                      376
 ('Rated 5.0'                                                                                                                                                                                                                                                                                      309
 ('Rated 3.0'                                                                                                                                                                                                                                                                                      149
                                                                                                                                                                                                                                                                                                 ...
 'RATED\n  Better and bigger than the other outlet.\nWide variety of options.\nFood was delicious. Had squid                                                                                                                                                                                         1
 gold! Good food                                                                                                                                                                                                                                                                                     1
 and try some seafood too... looks promising."")                                                                                                                                                                                                                                                     1
 they did play bit by making me choose a different item of lesser price & made me spend about an hour with zomato support to get the refund of the balance amount.\n\nI got a few phulkas                                                                                                            1
 'RATED\n  Loved the foodie experience here!!!!!! Came here for the name of the week offer and trust me I was disappointed. This whole place has such a good ambience that u l love it instantly.\nCrazy Bangalore rain and Fresh piping hot pizza and the night is sorted!\nUnlimited pizzas        1
Name: count, Length: 2902, dtype: int64

In [19]:
df_cleaned['book_table'].value_counts(dropna=False).head(20)

book_table
No                                                                                                                                                                                                                                               45268
Yes                                                                                                                                                                                                                                               6449
 ('Rated 4.0'                                                                                                                                                                                                                                      376
 ('Rated 5.0'                                                                                                                                                                                                                                      309
 ('Rated 3.0'                                                                                                                                                                                                                                      149
 ('Rated 1.0'                                                                                                                                                                                                                                       71
 ('Rated 3.5'                                                                                                                                                                                                                                       64
NaN                                                                                                                                                                                                                                                 50
 ('Rated 2.0'                                                                                                                                                                                                                                       42
 ('Rated 4.5'                                                                                                                                                                                                                                       35
 ('Rated 2.5'                                                                                                                                                                                                                                       16
 ('Rated 1.5'                                                                                                                                                                                                                                       11
[]                                                                                                                                                                                                                                                   9
 'RATED\n  Good food                                                                                                                                                                                                                                 7
 'RATED\n  food Was not fresh and it was smelling like old stuff. .')                                                                                                                                                                                7
 service is fast. What's not to like?"")                                                                                                                                                                                                             7
 I love the fact this it unconventionally authentic for both Indian filter coffee lovers and the traditional starbucks/CCD hoppers. My favourite being their unique Cold brew with Tonic.\nTalking about food - Never miss their Italian food        6
 'RATED\n  One of the amazing places to eat in Bangalore\nIf you are a seafood lover                                                                                                                                                                 6
 we were forced to go out because it was extremely suffocating inside.\n\nFood was pretty decent                                                                                                                                                     5
 'RATED\n  good')                                                                                                                                                                                                                                    5
Name: count, dtype: int64

In [20]:
# Keep only rows where 'book_table' is 'Yes' or 'No'
df_cleaned = df_cleaned[df_cleaned['book_table'].isin(['Yes', 'No'])]

In [21]:
df_cleaned.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [22]:
df_cleaned=df_cleaned[df_cleaned['online_order'].isin(['Yes','No'])]

In [24]:
df_cleaned['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [26]:
# Remove '/5' and convert to float
df_cleaned['rate'] = df_cleaned['rate'].astype(str).str.replace('/5', '').str.strip()

In [ ]:
# Replace 'NEW' and '-' with NaN
df_cleaned['rate'].replace(['NEW', '-'], pd.NA, inplace=True)

In [28]:
df_cleaned['rate'] = pd.to_numeric(df_cleaned['rate'], errors='coerce')

In [29]:
df_cleaned['rate'] = df_cleaned['rate'].replace(['NEW', '-'], pd.NA)

In [30]:
df_cleaned.reset_index(drop=True, inplace=True)

In [31]:
df_cleaned.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555_x000D_\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,+91 8026612447_x000D_\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [32]:
# Remove '_x000D_' from the phone number column
df_cleaned['phone'] = df_cleaned['phone'].astype(str).str.replace('_x000D_', '', regex=False)

# Optional: Strip leading/trailing spaces
df_cleaned['phone'] = df_cleaned['phone'].str.strip()

In [34]:
df_cleaned.tail()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,080 40301477,Whitefield,Bar,NaN,Continental,1500,"[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,Whitefield
51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600,[],[],Pubs and bars,Whitefield
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,nan,Whitefield,Bar,NaN,Finger Food,2000,[],[],Pubs and bars,Whitefield
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,2500,"[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental",1500,"[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

In [37]:
for col in df_cleaned.columns:
    if df_cleaned[col].astype(str).str.contains(r"\[\]").any():
        df_cleaned.drop(columns=col, inplace=True)

In [40]:
df_cleaned.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,+91 8026612447+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet,Banashankari

In [39]:
df_cleaned['phone'] = (
    df_cleaned['phone']
    .str.replace(r'\r|\n|\t', '', regex=True)   # remove hidden characters
    .str.replace(r'\s{2,}', ' ', regex=True)    # remove extra spaces
    .str.strip()
)

In [41]:
df_cleaned.to_csv(r"D:\Zomato\zomato_cleaned.csv", index=False)